.pageside {
    background-color: #ffeeee;
    max-width: 800px;
    position: relative;
}
.maindesc {
    font-size: 9px;
    margin-bottom: 9px;
}

.container {
    background-color: #eeeeff;
    max-width: 800px;

    position: relative;
}

.txtcell {
    display: flex;
}

input[type=radio] {
    display:none;
}

.label {
    display:block;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 800px;
}

input[type=radio]:checked + label {
    background-color: #ffffee;
}

#foot-main , #head-main {
    display: flex;
}
.footcell a , .headcell a {
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 5px;
}

.cpbutton a {
    /*height: 80%;
    width: 80%;*/
    color: #fff;
    background: #eeeeff;
    padding: 3px 5px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

